<div id="login_box" class="round_all clearfix">
	<form>
	<label class="fields"><strong>用户名：</strong>
		<input type="text" id="username" class="indent round_all">
	</label>
	<label class="fields"><strong>密码：</strong>
		<input type="password" id="password" class="indent round_all">
	</label>
	<button class="button_colour round_all" id="signin_button">
		<img width="24" height="24" alt="rignin" src="/images/icons/small/white/Locked%202.png"><span>登录</span>
	</button>
	</form>
	<!-- <button class="button_colour round_all" id="signup_button">
		<img width="24" height="24" alt="rignin" src="/images/icons/small/white/User.png"><span>注册</span>
	</button> -->
	<div id="bar" class="round_bottom">
		<label>
			<input type="checkbox">记住我的密码.</label>
		<a href="#">忘记密码?</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<img width="24" height="24" alt="signup" src="/images/icons/small/white/User.png"><span id="signup_button">还没有注册?</span>

	</div>
	<a href="#" id="login_logo"><span>TRWoker</span></a>
</div>
