<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- iPhone, iPad and Android specific settings -->	
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
		<title>RTWoker | 钢筋翻样应用</title>
		
		<!-- Create an icon and splash screen for iPhone and iPad -->
		<link rel="apple-touch-icon" href="images/iOS_icon.png">
		<link rel="apple-touch-startup-image" href="images/iOS_startup.png"> 

		<link rel="stylesheet" type="text/css" href="/stylesheets/all.css" media="screen">
		
		<!-- These stylesheets are used  -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/theme/switcher.css" media="screen">
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/theme/switcher1.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/theme/switcher2.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/theme/switcher3.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/theme/switcher4.php?default=switcher.css" media="screen" /> -->
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" media="screen" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="/libs/jquery-window/css/jquery.window.css" media="screen">
	
		<!-- Load JQuery -->		
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> -->
		<script type="text/javascript" src="/libs/jquery/jquery.js"></script>

		<!-- Load JQuery UI -->
		<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->
		<script type="text/javascript" src="/libs/jquery/jquery-ui.js"></script>
		
		<!-- Load Interface Plugins -->
		<script src="/libs/plugins.js"></script>
		
		<script type="text/javascript" src="/libs/fancybox/jquery.fancybox-1.3.4.js"></script>
		<script type="text/javascript" src="/libs/quicksand/jquery.quicksand.js"></script>
		<script type="text/javascript" src="/libs/quicksand/custom_sorter.js"></script>
		<script type="text/javascript" src="/libs/quicksand/dash_sorter.js"></script>
		<script type="text/javascript" src="/libs/quicksand/jquery-css-transform.js"></script>
		<script type="text/javascript" src="/libs/quicksand/jquery-animate-css-rotate-scale.js"></script>
		<script type="text/javascript" src="/libs/tinyeditor/tinyeditor.js"></script>
		<script type="text/javascript" src="/libs/DataTables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/DataTables/extras/TableTools/media/js/ZeroClipboard.js"></script>
		<script type="text/javascript" src="/libs/jqueryFileTree/jqueryFileTree.js"></script>
		<script type="text/javascript" src="/libs/slidernav/slidernav.js"></script>

		<!-- This file configures the various jQuery plugins for Adminica. Contains links to help pages for each plugin. -->
		<script type="text/javascript" src="/libs/adminica/adminica_ui.js"></script>
		<!-- <script src="http://localhost:8001/socket.io/socket.io.js"></script> -->
		
		<!-- <script type="text/javascript" src="/javascripts/socket.js"></script> -->
	</head>
	<body>
		<%- body %>
	</body>
</html>
