body {
  padding-bottom: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {
  color: #00B7FF;
}

.tables {
	z-index: 14;
	margin: 20px 0px 40px 0px;
}*/

.height_300 {
	height: 250px;
}

.chat_content {
	width: 475px; 
	height: 40px;
}

.tabs { margin-top: 1em; }

.tabs li .ui-icon-close { 
	float: left; 
	margin: -0.4em 0 0 -0.5em;
	cursor: pointer; 
}

.chat_friends_num {
	margin-right: 30px;
}
